<h2><%= @room.name %></h2>

<span><%= @room.description %></span>

<div>
    <%= link "Edit", to: Routes.room_path(@conn, :edit, @room.id), class: "btn btn-default" %>
    <%= link "Delete", to: Routes.room_path(@conn, :delete, @room), method: :delete, data: [confirm: "Do you really want to Delete?"], class: "btn btn-danger" %>
</div>